<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accident"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.accident.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.accident.Updateprofile"
            android:label="@string/title_activity_updateprofile" >
        </activity>
        <activity
            android:name="com.example.accident.Addnoification"
            android:label="@string/title_activity_addnoification" >
        </activity>
        <activity
            android:name="com.example.accident.Viewnotifications"
            android:label="@string/title_activity_viewnotifications" >
        </activity>
        <activity
            android:name="com.example.accident.Caseregister"
            android:label="@string/title_activity_caseregister" >
        </activity>
        <activity
            android:name="com.example.accident.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.accident.Rule"
            android:label="@string/title_activity_rule" >
        </activity>
        <activity
            android:name="com.example.accident.Criminal"
            android:label="@string/title_activity_criminal" >
        </activity>
        <activity
            android:name="com.example.accident.Vehicle"
            android:label="@string/title_activity_vehicle" >
        </activity>
        <activity
            android:name="com.example.accident.Officerhome"
            android:label="@string/title_activity_officerhome" >
        </activity>
    </application>

</manifest>
